body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 100%;
}
.box {
  overflow: hidden;
  margin: 100px auto;
  height: 400px;
  width: 600px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
  filter: blur(5px);
  pointer-events: none; /* 让元素在模糊状态下不可交互，防止意外操作 */
}
.box .left {
  width: 35%;
  height: 100%;
  background-color: antiquewhite;
  background-image: url(../image/26.png);
  background-size: cover;
  background-position: 300px;
}
.box .right {
  width: 65%;
  height: 100%;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(70, 139, 222, 1) 100%
  );
}
.box .right h1 {
  text-align: center;
}
.box .right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  transition: all 0.3s ease-in-out;
}
.box .right form input {
  outline: none;
  font-size: 18px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  margin-top: 20px;
  border-radius: 5px;
  height: 30px;
}
.box .right form input:hover::placeholder {
  color: #2e2121;
}
.box .right form button {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.box .right form button:hover {
  transform: scale(1.1);
}
.box .right .more {
  float: right;
  margin-right: 20px;
}
.box .right .more a button {
  background: none;
  border: none;
  color: #2e2121;
  font-size: 15px;
}
.box .right .more a button:hover {
  color: #000;
  text-decoration: underline;
}
#error-message {
  margin-top: 10px;
  text-align: center;
}

.blur {
  filter: blur(5px); /* 这里设置模糊度为5px，你可以根据实际需求调整这个数值 */
  pointer-events: none; /* 让元素在模糊状态下不可交互，防止意外操作 */
}
